.cards__title {
  position: relative;  /* Здесь использую позиционирование, чтобы отцентровать текст, т.к. из-за отступов картинок по брифу текст не по центру остается */
  left: 20px;
  margin: 43px 0 0 0;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}